/* ------- *
* 404 Page *
* ------- */

.error404__title {
  font-size: 2.5rem;
  margin: 0 0 .5em 0;
  line-height: 1.2;
  font-weight: bold;
  font-family: $bold;
  @include bp(medium) {
    @include span-columns(6);
    font-size: 3.5rem;
  }
}

.error404__message {
  line-height: 1.6;
  margin: 0 1em 0 0;
  @include bp(medium) {
    @include span-columns(6);
      margin: 0 0 1rem 0;
  }
}
