/* ------- *
*  About  *
* ------- */

.about__image {
  //border: 4px solid white;
  margin-bottom: 1em;
  background-size: cover;
  background-position: center center;
  @include span-columns(12);
  @include bp(medium) {
    @include span-columns(4);
  }
   @include bp(large) {
     @include span-columns(4);
   }
}

.about__image img {
margin-bottom: -.2em;
}



.about__bio {
  @include span-columns(12);
  @include bp(medium) {
    @include span-columns(8);
  }
   @include bp(large) {
     @include span-columns(8);
   }
}


.about__info {
@include span-columns(12);
 @include bp(large) {
   @include span-columns(8);
 }
}

.about__bio p:nth-child(2), .about__bio p:nth-child(3), .about__bio p:nth-child(4) {
@include span-columns(12);
 @include bp(large) {
   @include span-columns(6);
   @include omega(3n);
 }
}

.about__bio blockquote p {
  font-size: 1.45em;
  border: none;
  margin-bottom: .5em;
  padding: 0;
}

.about__title h2 {
  line-height: 1;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: .5em;
}
