/* ------- *
*  About  *
* ------- */

.about__image {
  border: 4px solid white;
  //background-image: url('../img/bio.jpg');
  margin-bottom: 1em;
  background-size: cover;
  background-position: center center;
  @include span-columns(12);
  //@include bp(small) {
    //@include span-columns(8);
  //}
  @include bp(medium) {
    @include span-columns(4);
  }
   @include bp(large) {
     @include span-columns(4);
   }
}

.about__image img {
margin-bottom: -.2em;
}



.about__bio {
  @include span-columns(12);
  @include bp(medium) {
    @include span-columns(6);
  }
   @include bp(large) {
     @include span-columns(6);
   }
}


.about__title {
  line-height: 1;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: .5em;
}


.about__info {
@include span-columns(12);
 @include bp(large) {
   @include span-columns(6);
 }
}


.resume {

}
