/* ------- *
*  Blog List  *
* ------- */

.post {
  @extend %clearfix;
  background: white;
  margin-bottom: 1em;
  font-size: .85em;
}

.post:last-child {
  margin-bottom: 0;
}

.post__date {
  font-family: $headline;
  color: gray;
  margin-bottom: .5em;
}

.post__tag {
  @extend %clearfix;
  color: gray;
  font-family: $headline;
  margin-bottom: .5em;
}

hr {
  //@extend %clearfix;
  width: 50px;
  margin: .5em 0;
  border: none;
  height: 4px;
  background: $base;
  margin-bottom: 1em;
  text-align: left;
  @include bp(medium) {
    float: left;
  }
}

.post__title {
  font-weight: 700;
  font-size: 1.25em;
}

.post__details {
  @include span-columns(12);
  padding: 1em;
  position: relative;
  @extend %clearfix;
  @include bp(medium) {
    height: 300px;
    @include span-columns(4);
  }
}

.post__details div{
  @include span-columns(6);
  @include bp(medium) {
    @include span-columns(12);
  }
}

.post__img {
  height: 250px;
  background-position: center center;
  background-size: cover;
  @include span-columns(12);
  @include bp(medium) {
    height: 300px;
    @include span-columns(8);
  }
   @include bp(large) {
     @include span-columns(8);
   }
}


.post__read {
  float: right;
  position: relative;
  bottom: -.6em;
  @include bp(medium) {
  position: absolute;
  bottom: 2em;
  left: 1.3em;
  }
}

.page-nav {
  font-size: .85em;
}
.pag-nav a {
  @extend .btn;
}

.pag-nav a:hover {
  @extend .btn:hover;
}

.btn-pagination--next {
  float: left;
}

.btn-pagination--prev{
  float: right;
}
