/* ------- *
*  Blockquote  *
* ------- */

blockquote {
  @extend %clearfix;
  margin-bottom: 1em;
}

blockquote p{
  border-left: 6px solid $highlight;
  padding-left: 1em;
  font-style: italic;
}

blockquote em {
  font-family: $headline;
  font-style: normal;
  font-weight: 600;
  float: left;
}

blockquote p:before {
  content: '\201C';
  color: darken( $background, 15%);
  font-size: 3em;
  line-height: 0.1;
  margin-right: 0.25em;
  vertical-align: bottom;
  font-family: $body;
}

blockquote p:after {
  content: '\201D';
  color: darken( $background, 15%);
  font-size: 3em;
  line-height: 0.1;
  margin-left: 0.25em;
  vertical-align: -0.4em;
  font-family: $body;
}
