/* ------- *
*  Blog   *
* ------- */


//Blog List Styles
.post {
@extend %clearfix;
background: white;
margin-bottom: 1em;
}

.post:last-child {
  margin-bottom: 0;
}

.post:hover {
}

.post__date {
  font-family: $headline;
  color: gray;
  margin-bottom: .5em;
}

.post__tag {
  color: gray;
  font-family: $headline;
  margin-bottom: .5em;
}








hr {
  @extend %clearfix;
  width: 50px;
  margin: .5em 0;
  border: none;
  height: 4px;
  background: $base;
  margin-bottom: 1em;
  //margin-bottom: 130px;
}

.post__title {
  font-weight: 700;
  font-size: 1.25em;
}

.post__details {
  @include span-columns(12);
  padding: 1em;
  position: relative;
  @include bp(medium) {
    @include span-columns(4);
  }
}

.post__img {
  height: 250px;
  background-position: center center;
  background-size: cover;
  @include span-columns(12);
  @include bp(medium) {
    height: 300px;
    @include span-columns(8);
  }
   @include bp(large) {
     @include span-columns(8);
   }
}


.post__read {
  padding: .35em;
  font-style: italic;
  color: $highlight;
  background: $highlight;
  color: white;
  border-radius: 2px;
  font-size: .85em;
  margin-top: .5em;
  display: inline-block;
}

.post__read:hover {
  background: darken( $highlight, 10% )
}














//Blog Detail Styles

.navigation {
  margin-bottom: 1.4em;
  @include bp(small) {
      margin-bottom: 1.45em;
  }

  @include span-columns(12);
  @include bp(medium) {
    margin-bottom: 1.5em;
    @include span-columns(10);
    @include shift(1);
  }
  @include bp(large) {
    @include span-columns(8);
    @include shift(2);
  }

   @include bp(extra-large) {
      @include span-columns(7);
      @include shift(2.5);
   }

}


.navigation__left {
  float: left;
  @include bp(medium) {
  float: right;
  }

  margin-right: .5em;
  font-style: italic;
  text-align: right;
  a {
    border-radius: 2px;
    display: inline-block;
    padding: .5em;
    border: 1px solid darken( $background, 10%);
    color: darken( $background, 10%);
  }
}

.navigation__left a:hover {
  background: $highlight;
  color: white;
  border: 1px solid $highlight;
}

.navigation__right a:hover {
  background: $highlight;
  color: white;
  border: 1px solid $highlight;
}


.navigation__right {
  margin-right: .5em;
  float: right;
  font-style: italic;
  text-align: right;
  a {
    border-radius: 2px;
    display: inline-block;
    padding: .5em;
    border: 1px solid darken( $background, 10%);
    color: darken( $background, 10%);
  }
}


.article__date {
  display: none;
@include bp(medium) {
  font-size: .7em;
  font-family: $headline;
  vertical-align: bottom;
  color: darken( $background, 10%);
  display: inline-block;
  text-align: left;
  margin-right: .5em;
  margin-top: .5em;
}
}

.article__tag {
  display: none;
@include bp(medium) {
  font-size: .7em;
  font-family: $headline;
  vertical-align: bottom;
  color: darken( $background, 10%);
  display: inline-block;
  text-align: left;
}
}


















.single-post p {
  @include span-columns(12);
  @include bp(medium) {
    @include span-columns(10);
    @include shift(1);
  }
  @include bp(large) {
    @include span-columns(8);
    @include shift(2);
  }

   @include bp(extra-large) {
      @include span-columns(7);
      @include shift(2.5);
   }
}

.single-post p:last-child {
  margin-bottom: 0;
}



.single-post img {
  margin-right: -1em;

}



.single-post .aligncenter {
  margin-bottom: 1.4em;
  @include bp(small) {
      line-height: 1.45;
      margin-bottom: 1.45em;
  }
@include span-columns(12);
  @include bp(medium) {
    @include span-columns(10);
    @include shift(1);
    margin-bottom: 1.5em;
  }
  @include bp(large) {
    @include span-columns(8);
    @include shift(2);
  }
   @include bp(extra-large) {
      @include span-columns(7);
      @include shift(2.5);
   }
}



.single-post .aligncenter .wp-caption-text, .single-post .alignnone .wp-caption-text {
  display: block;
  text-align: center;
  font-family: $headline;
  line-height: 1.4;
  color: darken( $background, 10%);
  margin-bottom: -.5em;
  font-size: .7em;
}
