/* ------- *
*  Blog Detail  *
* ------- */



//Blog Detail Styles

.navigation {
  margin-bottom: 1.4em;
  @include bp(small) {
      margin-bottom: 1.45em;
  }

  @include span-columns(12);
  @include bp(medium) {
    margin-bottom: 1.5em;
    @include span-columns(10);
    @include shift(1);
  }
  @include bp(large) {
    @include span-columns(8);
    @include shift(2);
  }

   @include bp(extra-large) {
      @include span-columns(7);
      @include shift(2.5);
   }

}


.navigation__left {
  float: left;
  @include bp(medium) {
  float: right;
  }

  margin-right: .5em;
  font-style: italic;
  text-align: right;
  a {
    border-radius: 2px;
    display: inline-block;
    padding: .5em;
    border: 1px solid darken( $background, 15%);
    color: darken( $background, 15%);
  }
}

.navigation__left a:hover {
  background: $highlight;
  color: white;
  border: 1px solid $highlight;
}

.navigation__right a:hover {
  background: $highlight;
  color: white;
  border: 1px solid $highlight;
}


.navigation__right {
  margin-right: .5em;
  float: right;
  font-style: italic;
  text-align: right;
  a {
    border-radius: 2px;
    display: inline-block;
    padding: .5em;
    border: 1px solid darken( $background, 15%);
    color: darken( $background, 15%);
  }
}


.article__date {
  display: none;
@include bp(medium) {
  font-size: .7em;
  font-family: $headline;
  vertical-align: bottom;
  color: darken( $background, 15%);
  display: inline-block;
  text-align: left;
  margin-right: .5em;
  margin-top: .5em;
}
}

.article__tag {
  display: none;
@include bp(medium) {
  font-size: .7em;
  font-family: $headline;
  vertical-align: bottom;
  color: darken( $background, 15%);
  display: inline-block;
  text-align: left;
}
}
