/* ------- *
*  Blog Detail  *
* ------- */



//Blog Detail Styles

.navigation {
  margin-bottom: 1.4em;
  @include bp(small) {
      margin-bottom: 1.45em;
  }

  @include span-columns(12);
  @include bp(medium) {
    margin-bottom: 1.5em;
    @include span-columns(10);
    @include shift(1);
  }
  @include bp(large) {
    @include span-columns(8);
    @include shift(2);
  }

   @include bp(extra-large) {
      @include span-columns(7);
      @include shift(2.5);
   }

}


.navigation__left {
  position: relative;
  bottom: .2em;
  float: left;
  @include bp(medium) {
  float: right;
  }
  margin-right: .5em;
  text-align: right;
  //font-size: .9em;
  a {
    @extend .btn;
  }
}

.navigation__left a:hover {
@extend .btn:hover;
}

.navigation__right a:hover {
  @extend .btn:hover;
}


.navigation__right {
  margin-right: .5em;
  position: relative;
  bottom: .2em;
  float: right;
  //font-size: .9em;
  text-align: right;
  a {
    @extend .btn;
  }
}


.article__date {
  display: none;
@include bp(medium) {
  font-size: .7em;
  font-family: $headline;
  vertical-align: bottom;
  color: darken( $background, 20%);
  display: inline-block;
  text-align: left;
  margin-right: .5em;
  margin-top: .5em;
}
}

.article__tag {
  display: none;
@include bp(medium) {
  font-size: .7em;
  font-family: $headline;
  vertical-align: bottom;
  color: darken( $background, 20%);
  display: inline-block;
  text-align: left;
}
}
