/* ------- *
*  Blog   *
* ------- */

.hero--post {
  background: url('../img/post.jpg');
  background-size: cover;
  background-position: center center;
}

.hero--post div {
  background-color: rgba(51,54, 57, .4);
  height: 100%;
}

.hero--post__title {
  color: white;
  padding-top: 200px;
  font-size: 1.75em;
  margin-bottom: 1.25em;
}


.hero--post__date {
  font-family: $adelle-sans;
  color: rgba(255,255,255, .75);
  font-size: 1em;
  font-style: italic;
  font-size: .75em;
}

.hero--post__read {
  font-family: $adelle-sans;
  color: rgba(255,255,255, .75);
  font-size: .75em;
  border: 1px solid rgba(255,255,255, .75);
  border-radius: 2px;
  padding: .5em;
  margin-left: 2em;
}

.hero--post__read:hover {
  background: white;
  color: $base;
}













.post {
  border: 3px solid white;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 300px;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 4px;
  @include span-columns(12);
  @include bp(medium) {
    @include span-columns(6);
    @include omega(2n);
  }


}

.post__title {
background: white;
font-size: .75em;
position: absolute;
text-align: 50px;
padding: .75em 0;
width: 100%;
bottom: 0;
text-align: center;

}
