/* ------- *
*  Buttons  *
* ------- */



.btn {
  font-family: $headline;
  display: inline-block;
  padding: .65em;
  border: 2px solid lighten(gray, 10%);
  color: gray;
}

.btn:hover {
  background: $highlight;
  color: white;
  border: 2px solid $highlight;
}
