/* ------- *
*  Buttons  *
* ------- */


.container .btn, .touch .container .btn:hover  {
  font-family: $headline;
  display: inline-block;
  padding: .65em;
  border: 2px solid lighten($base, 15%);
  color: $base;
  background: none;
}

.container .btn:hover {
  background: $highlight;
  color: white;
  border: 2px solid $highlight;
}
