/* ------- *
*  Contact  *
* ------- */

.contact-intro {
  @extend %clearfix;
  @include span-columns(12);
  @include bp(medium) {
    @include span-columns(8);
    @include omega;
  }
}

.contact-intro__title{
line-height: 1;
font-weight: 800;
font-size: 2em;
text-transform: uppercase;
margin-bottom: .5em;
}

.contact-intro__content {
@include span-columns(12);
@include bp(large) {
@include span-columns(8);
}
}

.contact-intro__image {
  @include span-columns(12);
  display: none;
  margin-bottom: 1.4em;
  @include bp(small) {
    margin-bottom: 1.45em;
  }
  @include bp(medium) {
    margin-bottom: 1.5em;
    @include span-columns(4);
  }
}

.contact-intro__email {
  @include span-columns(4);
  text-align: right;
}









input, textarea {
  background: $background;
  font-family: $body;
  padding: .5em;
  resize: none;
  -webkit-appearance:none;
  border-radius: 0;
}

textarea {
  line-height: 1.4;
  overflow: auto;
}

.error {
  border: 2px solid #c53f3f!important;
  color: #c53f3f;
}

.form {
  @extend %clearfix;
  position: relative;
}

.form input, .form textarea {
  border: 2px solid lighten(gray, 10%);
}

.form__name input:focus, .form__email input:focus, .form__message textarea:focus, .form__subject input:focus {
  outline: none !important;
  box-shadow: 0;
  border: 2px solid $base;
}

.form__submit {
  outline: none !important;
  box-shadow: 0;
  border: 2px solid lighten(gray, 10%);
}


.form fieldset {
  @include span-columns(12);
  @include bp(medium) {
  @include span-columns(8);
}
}

.form__name {
  @include span-columns(12);
  margin-bottom: .5em;

  @include bp(medium) {
  @include span-columns(6);
}
}
.form__name__input{
  @include span-columns(12);
}

.form__email {
  @include span-columns(12);
  margin-bottom: .5em;
  @include bp(medium) {
  @include span-columns(6);
  @include omega;
}
}

.form__email__input{
  @include span-columns(12);
}

.form__subject {
  @include span-columns(12);
  margin-bottom: .5em;
}

.form__subject__input{
  @include span-columns(12);
}

.form__message {
  margin-bottom: .5em;
}

.form__message__textarea{
  height: 300px;
  @include span-columns(12);
}

.form__submit {
  margin-top: .75em;
  background: none;
  width: 6em;
  float: left;
}

.form__submit:focus {
  border: 2px solid lighten(gray, 10%)!important;
}

.form__submit:hover {
  cursor: pointer;
  border: 2px solid $highlight!important;
}

.form__success, .form__error {
  display: none;
}
.form__success {
  color: $highlight;
}

.form__error {
  color: #c53f3f;
}

.form__success, .form__error {
  position: relative;
  font-family: $headline;
  left: 1em;
  top: 1.68em;
}
