/* ------- *
*  Contact  *
* ------- */

input, textarea {
  font-family: $body;
  font-size: .75em;
  padding: .5em;
  resize: none;
}

textarea {
  line-height: 1.4;
}

.error {
  border: 2px solid #c53f3f!important;
  color: #c53f3f;
  font-size: .75em;
}

.form {
  background: white;
  padding: 1em;
  @extend %clearfix;
  position: relative;
}

.form input, .form textarea {
  border: 2px solid lighten(gray, 10%);
}

.form__name input:focus, .form__email input:focus, .form__message textarea:focus {
  outline: none !important;
  box-shadow: 0;
  border: 2px solid $base;
}

.form__submit {
  outline: none !important;
  box-shadow: 0;
  border: 2px solid lighten(gray, 10%);
}


.form fieldset {
  @include span-columns(12);
  @include bp(medium) {
  @include span-columns(8);
}
}

.form__intro {
  @include span-columns(12);
  @include bp(medium) {
  @include span-columns(4);
}
}


.form__intro__title{
line-height: 1;
font-weight: 800;
font-size: 2em;
text-transform: uppercase;
margin-bottom: .5em;
}





.form__name {
  @include span-columns(12);
  margin-bottom: .5em;
}
.form__name__input{
  @include span-columns(12);
}

.form__email {
  @include span-columns(12);
  margin-bottom: .5em;
  }


.form__email__input{
  @include span-columns(12);
}


.form__message {
  margin-bottom: .5em;
}

.form__message__textarea{
  height: 300px;
  @include span-columns(12);
}

.form__submit {
  margin-top: .75em;
  background: none;
  width: 6em;
  float: left;
}

.form__submit:focus {
  border: 2px solid $highlight!important;
}

.form__submit:hover {
  cursor: pointer;
}

.form__success, .form__error {
  display: none;
}
.form__success {
  color: $highlight;
}

.form__error {
  color: #c53f3f;
}

.form__success, .form__error {
  position: relative;
  font-size: .75em;
  font-family: $headline;
  left: 1.5em;
  top: 1.65em;
  font-size: .9em;
  @include bp(medium) {
      font-size: .75em;
  }
  @include bp(large) {
      font-size: .725em;
  }
}
