/* ------- *
*  Footer  *
* ------- */

.site-footer {
  display: none;
  max-width: 960px;
  margin: 2em auto;
  padding: 0 1em;
  @extend %clearfix;
}

.copyright {
  text-align: center;
  display: block;
  margin: 2em 0 1em;
  @include bp(medium) {
    margin: 0;
    float: right;
    text-align: right;
  }
}

.social {
  text-align: center;
  display: block;
  @include bp(medium) {
    float: left;
    text-align: left;
  }
  li {
    display: inline;
    margin-right: 1em;
  }
  a {
    font-family: $body;
  }
}
