/* ------- *
*   Hero  *
* ------- */

.hero {
  margin-top: -64px;
  background: $secondary;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 300px;
  margin-bottom: 0;
  position: relative;
  @include bp(medium) {
    margin-top: -62px;
    height: 400px;
  }
  @include bp(extra-large) {
    margin-top: -62px;
    height: 500px;
  }
}



.hero:before {
   content: "";
   background: rgba(0, 0, 0, 0.15);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.hero__title {
  position: relative;
  font-size: 1.5em;
  max-width: 800px;
  line-height: 1.4;
  font-weight: 700;
  color: white;
  padding: 140px 1em 0 1em;
  margin: 0 auto;
  letter-spacing: .1em;
  @include bp(medium) {
    padding-top: 180px;
    font-size: 2em;
  }
  @include bp(extra-large) {
    padding-top: 230px;
  }
}
