/* ------- *
*   Hero  *
* ------- */


.hero {

}


.hero {
  //position: relative;
  margin-top: -60px;
  background: $base;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 300px;
  margin-bottom: 0;
  position: relative;
  @include bp(medium) {
    margin-top: -62px;
    height: 400px;
  }
}

.hero__title {
  font-size: 1.5em;
  max-width: 800px;
  //font-family: $body;
  //font-style: italic;
  line-height: 1.4;
  //text-transform: uppercase;
  font-weight: 700;
  color: white;
  padding: 140px 1em 0 1em;
  margin: 0 auto;
  letter-spacing: .1em;
  //text-shadow: 1px 2px 2px rgba(0,0,0,0.2);
  @include bp(medium) {
    padding-top: 180px;
    font-size: 2em;
  }
}

.hero__scroll {
  position: absolute;
  bottom: 0;
  opacity: .75;
  padding: .3em;
  display: block;
  width: 100%;
  background: gray;
  margin-top: 30px;
  color: white;
}

.hero__scroll:hover {
  color: gray;
  background: white;
}
