/* ------- *
*   Hero  *
* ------- */


.hero {
  background: $base;
  text-align: center;
  height: 300px;
  margin-bottom: 0;
  @include bp(medium) {
    height: 500px;
  }
}

.hero__slide {
  width: 100%;
  height: 300px!important;
  @include bp(medium) {
    height: 500px!important;
  }
}

.hero__slide--code {
  background-image: url('../img/hero--code.jpg');
  background-size: cover;
  background-position: center center;
}


.hero__title {;
  font-size: 2em;
  margin-top: 125px;
  padding: .75em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
