/* ------- *
*  About  *
* ------- */

.info-title {
  font-size: 4em;
  opacity: .5;
  color: blue;
  line-height: 1.1;
  float: right;
  clear: both;
  width: 50%;
}


.info-image {
  position: relative;
  background: gray;
  height: 400px;
  margin-bottom: 2em;
  background-position: center;
  background-size: cover;
  width: 50%;
  float: left;
}

.info-bio {

}
