/* ------- *
*  Intro  *
* ------- */

.intro {
  position: relative;
  background-size: cover;
  width: 100%;
  background: $secondary;
  //background-image:url('/assets/img/header.jpg');
  background-position: center bottom;
  background-size: cover;
  @extend %clearfix;
  @include bp(medium) {
    min-height: 550px;
    height: 100vh;
  }
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
  }
  span {
    color: $highlight;
  }
  em {
    font-style: normal;
    position: absolute;
    bottom: 2em;
    color: darken($secondary, 20%);
  }
  .intro__scroll {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 2rem 0 2rem;
  }
}

.intro__text {
  max-width: 960px;
  padding: 6rem 1rem 2rem;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
  @extend %clearfix;
  @include bp(medium) {
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
    font-size: 2.5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}


//Scroll down animation
