/* ------- *
*   Menu  *
* ------- */

.site-header {
  z-index: 99999;
  margin: 0 auto;
  display: block;
  @extend %clearfix;
  position: relative;
  width: 100%;
  background: $secondary;
}

.single .site-header {
  background: none;
}

.site-header .site-header__inner{
  @extend %clearfix;
  @include bp(medium) {
    float: left;
  }
}

.site-header .site-header__container{
  margin: 0 auto;
  max-width: 1100px;
}

.site-header__title, .touch .site-header__title {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 60px;
  color: white;
  float: left;
  margin-left: 1em;
  display: inline-block;
  font-weight: 600;
}

.site-header__title:hover {
  color: darken( $background, 10%);
}

.site-header__toggle {
  vertical-align: center;
  color: white;
  font-size: 22px;
  line-height: 60px;
  float: right;
  border: none;
  outline: none;
  background: none;
  padding: 0 1em;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  @include bp(medium) {
    display: none;
  }
}
.no-touch .site-header__toggle:hover {
  opacity: .75;
}

.site-header__nav {
  @include bp(medium) {
    float: right;
    height: 60px;
  }
}

.site-header__nav ul {
  margin: 0;
  text-align: center;
  overflow: hidden;
  height: 0;
  font-size: 16px!important;
  @include bp(medium) {
    line-height: 60px;
    padding: 0 1em;
    float: right;
    text-align: right;
    max-height: none;
    overflow: visible;
  }
}

.open .site-header__nav ul {
  height:  250px;
}

.site-header__nav ul li {
  background: $secondary;
  font-family: $headline;
  margin: 0;
  border-bottom: 2px solid gray;
  line-height: 60px;
  @include bp(medium) {
    border: none;
    display: inline-block;
    margin-left: 1.5em;
    background: none;
  }
}

.site-header__nav ul li a {
  color: white;
  display: block;
}

.site-header__nav .active a {
  @include bp(medium) {
    line-height: 54px;
    border-bottom: 3px solid $highlight;
  }
}

.no-touch .site-header__nav ul li a:hover {
  color: $highlight;
  background: $tertiary;
  @include bp(medium) {
    background: none;
    color: darken( $background, 10%);
  }
}
