/* ------- *
*   Menu  *
* ------- */

.site-header {
  @extend %clearfix;
  background: #fff;
  margin: 0 auto;
  max-width: 960px;
}

.site-header div{
  @extend %clearfix;
  @include bp(medium) {
  float: left;
  }
}

.site-header__title {
  font-family: $adelle-sans;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 60px;
  color: $base;
  float: left;
  margin-left: 1em;
  display: inline-block;
}

.site-header__title:hover {
}

.site-header__toggle {
  line-height: 60px;
  font-size: 1.15em;
  float: right;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0 1em 0 0;
  cursor: pointer;
  display: block;
  @include bp(medium) {
    display: none;
  }
}
.site-header__toggle:hover {
  color: $secondary;
}

.site-header__nav {
  line-height: 60px;
}


.site-header__ul {
  text-align: center;
  overflow: hidden;
  max-height: 0;
  @include bp(medium) {
    padding: 0 1em;
    float: right;
    text-align: right;
    max-height: none;
  }
}

.open .site-header__ul {
    max-height: 15em!important;
}

.site-header__ul li {
  font-size: 16px;
  margin: 0;
  @include bp(medium) {
    display: inline-block;
    margin-left: 1.5em;
  }
}

.site-header__ul li a {
  color: $base;
  display: block;
  border-top: 1px solid $background;
  @include bp(medium) {
    border: none;
  }
}

.site-header__ul li a:hover {
  color: $highlight;
  @include bp(medium) {
    background: none;
  }
}

.site-header__ul .active {
  color: $secondary;
  text-decoration:line-through;
}

.site-header__ul .active:hover {
  text-decoration:line-through;
}
