/* ------- *
*   Menu  *
* ------- */

.site-header {
  z-index: 99999;
  max-width: 960px;
  display: block;
  @extend %clearfix;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 0;
  a {
    color: $base;
    &:hover {
      color: $highlight;
    }
  }
}

.site-header__title, .touch .site-header__title {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 0 0 0;
  @include bp(medium) {
    line-height: 75px;
    float: left;
    margin: 0 0 0 1em;
  }
}

.site-header__title:hover {
  color: $highlight;
}

.site-header__nav {
  line-height: 50px;
  @include bp(medium) {
    line-height: 75px;
    margin: 0;
    float: right;
  }
}

.site-header__nav ul {
  font-size: 1rem;
  display: inline-block;
  margin: 0;
  @include bp(medium) {
    float: right;
    text-align: right;
    margin-right: .5em;
  }
}

.site-header__nav ul li {
  display: inline;
}

.site-header__nav ul li a {
  margin: 0 .75em 0 .75em;
}

.site-header__nav ul li a:hover {
  color: $secondary;
}
