/* ------- *
*   Menu  *
* ------- */

.site-header {
  z-index: 99999;
  margin: 0 auto;
  max-width: 1220px;
  display: block;
  @extend %clearfix;
  position: relative;
  width: 100%;
}

//.page-contact .site-header, .page-projects .site-header, .page-blog .site-header {
  //background: white;
//}


.page-blog .site-header__title,  .page-blog .site-header__nav ul li a{
  color: $base;
}







.site-header div{
  @extend %clearfix;
  @include bp(medium) {
  float: left;
  }
}

.site-header section {
  margin: 0 auto;
  max-width: 1220px;
}

.site-header__title {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 60px;
  color: white;
  float: left;
  margin-left: 1em;
  display: inline-block;
  font-weight: 700!important;
}

.site-header__title:hover {
}

.site-header__toggle {
  color: white;
  line-height: 60px;
  font-size: 1.15em;
  float: right;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0 1em 0 0;
  cursor: pointer;
  display: inline-block;
  @include bp(medium) {
    display: none;
  }
}
.site-header__toggle:hover {
  color: $secondary;
}

.site-header__nav {
  @include bp(medium) {
  float: right;
}
}


.site-header__nav ul {
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  max-height: 0;
  @include bp(medium) {
    padding: 0 1em;
    float: right;
    text-align: right;
    max-height: none;
  }
}

.open .site-header__nav ul {
    max-height: 100%!important;
}

.site-header__nav ul li {
  background: $base;
  font-family: $headline;
  font-size: 16px;
  margin: 0;
  border-bottom: 1px solid gray;
  //text-align: right;
  @include bp(medium) {
    border: none;
    display: inline-block;
    margin-left: 1.5em;
    background: none;
  }
}

.site-header__nav ul li a {
  color: white;
  display: block;
  @include bp(medium) {
  }
}

.site-header__nav ul li a:hover {
  color: gray;
  opacity: .75;
  @include bp(medium) {
    background: none;
  }
}

.site-header__nav ul .active {
  color: $secondary;
  text-decoration: line-through;
}

.site-header__nav ul .active:hover {
  text-decoration: line-through;
}
