/* ------- *
*   Menu  *
* ------- */

.site-header {
  z-index: 99999;
  margin: 0 auto;
  display: block;
  @extend %clearfix;
  position: relative;
  width: 100%;
  background: $secondary;
}

.single .site-header {
  background: none;
}


.site-header div{
  @extend %clearfix;
  @include bp(medium) {
  float: left;
  }
}

.site-header section {
  margin: 0 auto;
  max-width: 1100px;
}

.site-header__title {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 60px;
  color: white;
  float: left;
  margin-left: 1em;
  display: inline-block;
  font-weight: 600;
}

.site-header__title:hover {
  color: $highlight;
}

.site-header__toggle {
  vertical-align: center;
  color: white;
  font-size: 1.15em;
  float: right;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0 1em 0 0;
  cursor: pointer;
  display: inline-block;
  margin-top: 15px;
  padding: 5px;
  @include bp(medium) {
    display: none;
  }
}
.site-header__toggle:hover {
  opacity: .75;
}

.site-header__nav {
  @include bp(medium) {
  float: right;
}
}


.site-header__nav ul {
  margin: 0;
  text-align: center;
  overflow: hidden;
  max-height: 0;
  @include bp(medium) {
    margin-top: 20px;
    padding: 0 1em;
    float: right;
    text-align: right;
    max-height: none;
  }
}

.open .site-header__nav ul {
    max-height: 100%!important;
}

.site-header__nav ul li {
  background: $secondary;
  font-family: $headline;
  font-size: 16px!important;
  margin: 0;
  border-bottom: 1px solid gray;
  //text-align: right;
  line-height: 60px;
  @include bp(medium) {
    line-height: 0;
    border: none;
    display: inline-block;
    margin-left: 1.5em;
    background: none;
  }
}

.site-header__nav ul li a {
  color: white;
  display: block;
  @include bp(medium) {
  }
}

.site-header__nav ul li a:hover {
  color: $highlight;
  opacity: .65;
  background: $tertiary;
  @include bp(medium) {
    background: none;
    color: white;
    opacity: 1;
    border-bottom: 2px solid white;
    padding-bottom: 14px;
  }
}

.site-header__nav ul li .active {
  opacity: .15;
}

.site-header__nav ul .active:hover {
}
