/* ------- *
*  Pagination *
* ------- */

.pag-nav {
  @include span-columns(12);
}

.newer {
  float: right;
}

.older{
  float: left;
}

.btn--post {
  background: darken( $background, 5%)!important;
  border-color: darken( $background, 5%)!important;
}

.btn--post:hover {
  background: $highlight!important;
  border-color: $highlight!important;
}
