/* ------- *
*  Page Header  *
* ------- */

.page-header {
  margin-bottom: 2.5em;
  @extend %clearfix;
  text-align: center;
  @include bp(medium) {
    margin-bottom: 3em;
  }
}

.page-header__title {
  display: inline-block;
  font-size: 1.75em;
  font-weight: 700;
  @extend %clearfix;
  padding: 0 .5em;
}

.page-header__paragraph {
  margin: .5em 0 0 0;
}
