/* ------- *
*  Projects   *
* ------- */

.project {
  position: relative;
  height: 250px;
  margin-bottom: 1em;
  text-align: center;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  @include span-columns(12);
  @include bp(medium) {
    @include span-columns(4);
    @include omega(4n);
  }
}
.project:nth-child(7) {
  margin-right: 0;
}

.project__title, .touch .project:hover .project__title {
  color: white;
  width: 100%;
  text-align: center;
  padding: 120px 1em 0 1em;
  opacity: 1;
  line-height: 1.2;
  height: 100%;
  background: rgba(52,52,52,.3);
  @include bp(medium) {
    font-size: .85em;
    background: rgba(141,196,197,.8);
    height: 100%;
    padding: 120px 1em 0 1em;
    opacity: 0;
  }
}

.project:hover .project__title {
  opacity: 1;
}
