/* -------------------------- *
*  Single Page Sub Navigation *
* --------------------------- */

.navigation {
  font-family: $headline;
  margin-bottom: 1.4em;
  text-align: center;
  color: darken( $background, 35%);
  margin-bottom: 1.5em;
@include bp(medium) {
  margin-bottom: 1.75em;
  position: relative;
  bottom: .2em;
  }
}

.navigation__left {
  font-size: 1.25em;
  float: left;
  @include bp(medium) {
  float: none;
  position: relative;
  top: .05em;
  }
}

.navigation__right {
  font-size: 1.25em;
  float: right;
  @include bp(medium) {
  float: none;
  position: relative;
  top: .05em;
  }
}

.navigation__left a:before {
  content: "\f053";
}

.navigation__right a:before {
  content: "\f054";
}

.navigation__left a, .navigation__right a, .touch .navigation__left a:hover, .touch .navigation__right a:hover {
  border: none;
  vertical-align: top;
  color: darken( $background, 25%);
  @include bp(medium) {
    vertical-align: middle;
  }
}

.navigation__left a {
  padding: .5em .5em .5em 0;
@include bp(medium) {
  padding: .5em;
}
}

.navigation__right a {
  padding: .5em 0 .5em .5em;
@include bp(medium) {
  padding: .5em;
}
}


.navigation__left a:hover, .navigation__right a:hover {
  border: none;
}
