/* ------- *
*  Single Entry   *
* ------- */

.single p {
  @include span-columns(12);
  @include bp(medium) {
    @include span-columns(10);
    @include shift(1);
  }
  @include bp(large) {
    @include span-columns(8);
    @include shift(2);
  }
   @include bp(extra-large) {
      @include span-columns(7.5);
      @include shift(2.25);
   }
}

.single p:last-child{
margin-bottom: 0;
}

.wp-caption {
  font-family: $headline;
  color: darken( $background, 50%);
  text-align: center;
  font-size: .85em;
  line-height: 1.4;
}

.single .container ul, .single .container ol {
  margin-bottom: 1.45em;
    line-height: 1.45;
    margin-bottom: 1.45em;
@include span-columns(12);
   @include bp(medium) {
     @include span-columns(10);
     @include shift(1);
     margin-bottom: 1.5em;
   }
   @include bp(large) {
     @include span-columns(8);
     @include shift(2);
   }
    @include bp(extra-large) {
       @include span-columns(7);
       @include shift(2.5);
    }
}

.single .container ul li, .page-contact .container ul li {
  list-style-type: square;
  list-style-position:inside;
}

.single .container ol li, .page-contact .container ol li{
  list-style-position:inside;
  list-style-type: decimal;
}

.single strong {
  font-size: .9em;
}
