/* ------- *
*  Single  *
* ------- */

.single__details {
  margin-bottom: 2em;
  @extend %clearfix;
}

.single__details__left {
  margin-bottom: .5em;
  @include bp(medium) {
    @include span-columns(6);
  }
}

.single__details__left h2 {
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: bold;
  font-size: 2.5rem;
  @include bp(medium) {
    font-size: 3.5rem;
  }
}

.single__details__right {
  background: white;
  @extend %clearfix;
  //padding: 1em;
  line-height: 1.6;
  @include bp(medium) {
    @include span-columns(6);
    margin-right: 0;
  }
}

.single .container p {
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

.first {
  margin-bottom: 1em;
}

.single__navigation {
  margin-top: 2em;
}

.single__navigation__left {
  float: left;
}

.single__navigation__right {
  float: right;
  text-align: right;
}
