/* ------- *
 *  LINKS  *
 * ------- */

a {
	text-decoration: none;
  border: none;
}

p a {
	color: darken( $background, 20%);
	border-bottom: 2px solid darken( $background, 15%);
}

p a:hover {
	color: $highlight;
	border-bottom: 2px solid $highlight;
}
