/* ------- *
 *  LINKS  *
 * ------- */

a {
	text-decoration: none;
  border: none;
}

.container a, .touch .container a:hover {
	color: $base;
	border-bottom: 2px solid lighten($base, 15%);
}

.container a:hover{
}
