/* ------- *
 *  LINKS  *
 * ------- */

a {
	text-decoration: none;
  border: none;
}

.container a, .touch .container a:hover {
	color: $highlight;
}

.container a:hover{
	border-bottom: 2px solid $highlight;
}
