/* ------- *
 *   Main  *
 * ------- */

body {
}


.wrapper {
	max-width: 960px;
	margin: 0 auto;
	margin-top: 60px;
	padding: 0 .5em;
}










::-moz-selection {
	background: $border; /* Firefox */
}

::selection {
	background: $border; /* Safari */
}
