/* ------- *
 *   Main  *
 * ------- */

.wrapper {
	@extend %clearfix;
	position: relative;
	background: $background;
}

.container {
	@include outer-container;
	@extend %clearfix;
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
	padding: 2em 1em;
	@include bp(medium) {
	padding: 3em 1em;
	}
}

p, .navigation__left a, .navigation__right a, .single ul, .single ol, .btn, .pag-nav a, .article__date, .article__tag, input, textarea, .form__success, .form__error, .site-footer, code, pre {
	font-size: 1.1em;
	@include bp(small) {
			font-size: 1em;
	}
	@include bp(medium) {
			font-size: .9em;
	}
	@include bp(large) {
			font-size: .825em;
	}
	@include bp(extra-large) {
			font-size: .85em;
	}
}

::-moz-selection {
	//background: $border; /* Firefox */
}

::selection {
	//background: $border; /* Safari */
}
