/* ------- *
 *   Main  *
 * ------- */

.container {
  max-width: 1000px;
  margin: 100px auto 4em;
  padding: 0 1em;
  @extend %clearfix;
}

.home .container {
  margin: 4em auto;
}

section {
  @extend %clearfix;
}

.loading {
  cursor: wait;
}

strong {
  font-weight: bold;
}
