/* ------- *
 *   Main  *
 * ------- */


.wrapper {
	background: $background;
	@extend %clearfix;
}

.container {
@extend %clearfix;
max-width: 1100px;
margin: 0 auto;
//min-height: 600px;
padding: 2em 1em;
@include bp(medium) {

}
}











::-moz-selection {
	//background: $border; /* Firefox */
}

::selection {
	//background: $border; /* Safari */
}
