/* ------- *
 * PARAGRAPHS *
 * ------- */

p, span, .navigation__left, .navigation__right {
  font-size: .8em;
  @include bp(medium) {
      font-size: .75em;
  }
  @include bp(large) {
      font-size: .725em;
  }
}

p, .wp-caption {
	line-height: 1.4;
	margin-bottom: 1.4em;
	@include bp(small) {
	    line-height: 1.45;
	    margin-bottom: 1.45em;
	}
	@include bp(medium) {
	 	line-height: 1.5;
	 	margin-bottom: 1.5em;
	}
}
