/* ------- *
 *  Typography  *
 * ------- */

//Font Families
$adelle-sans: "adelle-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$adelle: "adelle", "Georgia", serif;


html {
	font-size: 100%;

	@include bp(small) {
		font-size: 112.5%;
	}

	@include bp(medium) {
		font-size: 125%;
	}

	@include bp(large) {
		font-size: 137.5%;
	}
}

body, p {
	font-family: $adelle;
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $adelle-sans;
	font-weight: 600;
}




//Icons
@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot?joodxb');
	src:url('../fonts/icons.eot?#iefixjoodxb') format('embedded-opentype'),
		url('../fonts/icons.woff?joodxb') format('woff'),
		url('../fonts/icons.ttf?joodxb') format('truetype'),
		url('../fonts/icons.svg?joodxb#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-left_arrow:before {
	content: "\f053";
}
.icon-right_arrow:before {
	content: "\f054";
}
.icon-down_arrow:before {
	content: "\f078";
}
.icon-linkedin:before {
	content: "\f08c";
}
.icon-github:before {
	content: "\f09b";
}
.icon-menu:before, .site-header__toggle:before {
	content: "\f0c9";
}
.icon-mail:before {
	content: "\f0e0";
}
.icon-dot:before {
	content: "\f111";
}
