/* ------- *
 *  Typography  *
 * ------- */

//Font Families
$body: "Apercu Pro", Helvetica, sans-serif;

html {
	font-size: 100%;
}

body, p {
	font-family: $body;
	font-weight: 400;
	color: $base;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $body;
	font-weight: bold;
}
