/* ------- *
 *  Typography  *
 * ------- */

//Font Families
$body: "Apercu Regular", Calibri, Roboto, sans-serif;
$bold: "Apercu Bold", Calibri, Roboto, sans-serif;

html {
	font-size: 100%;
}

body, p {
	font-family: $body;
	font-weight: normal;
	font-style:normal;
	font-size-adjust:0.508;
	color: $base;
}

.wf-loading body {
  visibility: hidden;
}
