/* ------- *
*   Projects  *
* ------- */

.project {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  margin-bottom: 1em;
  @include bp(medium) {
    margin-bottom: 2.35765%;
    @include span-columns(6);
    @include omega(2n);
  }
  img {
    margin-bottom: -2px;
  }
  h2 {
    color: $highlight;
    font-weight: bold;
    font-family: $bold;
  }
  h3 {
    color: $base;
  }
  figure div {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $secondary;
  opacity: 0;
}

.project:hover .project__overlay {
  opacity: 1;
}
