/* ---------- *
 *  Variables *
 * ---------- */


//Colors
$base: #333639;
$secondary: #787f85;
$highlight: #389c9d;
$footer: #315B61;
$tertiary: ;    // copyright gray
$border: ;      // darker offwhite
$background: #eee;  // offwhite #dcdddd
