/* ---------- *
 *  Variables *
 * ---------- */


//Colors
$base: #343434; // dark gray
$secondary: #474748; //darkish blue gray
$highlight: #76a4b5;  // mint green
$footer: #3a3b47;
$tertiary: #323232;
$border: ;
$background:  #f6f6f6;  // offwhite
