/* ---------- *
 *  Variables *
 * ---------- */


//Colors
$base: #333132; // dark gray
$secondary: #787f85;
$highlight: $secondary;
$footer: #333132;  // dark gray
$tertiary: ;
$border: ;
$background:  #f0eeec;  // offwhite
