/* ------- *
 * $MIXINS *
 * ------- */

/*Retina
@mixin bp($point) {
	@if $point == 2x {
		@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (min-moz-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5) { @content; }
	}
} */

$small: 450px !default;
$medium: 650px !default;
$large: 900px !default;
$extra-large: 1100px !default;

$breakpoints: small $small, medium $medium, extra-large $extra-large, large $large !default;

$oldie: false !default;

@mixin bp($point) {
  @if $oldie {
    @if ($point == large) or ($point == medium) or ($point == small)  {
      @content;
    }
  }
  @else {
    @each $breakpoint in $breakpoints {
      @if $point == nth($breakpoint, 1) {
        @media (min-width: nth($breakpoint, 2)) {
          @content;
        }
      }
    }
  }
}
